<div class="master-dialog-vh">
  <H5 style="color:cadetblue">Selected Work Group</H5>
  <div class="child-container">
    <div class="center-content ">
      <div *ngIf="mode === 0;else ElseBlock">
        <app-group-table-dialog (returnSelected)="onSelectedValue($event)"></app-group-table-dialog>
      </div>
      <ng-template #ElseBlock>
        <app-group-table-dialog (returnSelectesd)="onSelectedValues($event)" [isMultiple]="true"></app-group-table-dialog>
      </ng-template>
    </div>
    <div class="right-content ml-1">
      <button type="button" mat-icon-button color="primary" (click)="onSelectedClick()"
              [disabled]="!getValue && !getValues" matTooltip="Selected" matTooltipPosition="left">
        <i class="fa fa-2x fa-hand-pointer-o" aria-hidden="true"></i>
      </button>
      <button type="button" mat-icon-button color="warn" (click)="onCancelClick()"
              matTooltip="Cancel" matTooltipPosition="left">
        <i class="fa fa-2x fa-close" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
