<div class="master-container">
  <div>
    <!--Title-->
    <h4 class="card-title text-info">
      Purchase Order SageX3
    </h4>
  </div>
  <div *ngIf="onLoading" class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>
  <div class="child-container">
    <!--Center-->
    <div class="center-content">
      <!--Component-->
      <div *ngIf="!ShowDetail;else InfoBlock">
        <app-po-table (returnSelectedWith)="onDetailView($event)" [isOnlyCreate]="true"></app-po-table>
      </div>
      <ng-template #InfoBlock>
        <!--<app-po-info></app-po-info>-->
      </ng-template>
    </div>
    <!--Right-->
    <div class="right-content">
      <button mat-mini-fab color="accent" (click)="onDetailView()"
              matTooltipPosition="left" matTooltip="Create"
              disabled>
        <mat-icon>add</mat-icon>
      </button>
      <hr />
      <button mat-mini-fab color="warn" (click)="onCancelEdit()"
              matTooltipPosition="left" matTooltip="Cancel"
              [disabled]="!ShowDetail">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-mini-fab color="accent" (click)="onSubmit()" class="mt-1"
              matTooltipPosition="left" matTooltip="Save"
              disabled>
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
</div>
